<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/icon.png" >
    <title>Meetoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
	{{template "comm/header.html".}}

	<div class="container-wrap">
		<div class="container container-message container-details container-about">
				<div class="contar-wrap">
					<div class="item">
						<div class="item-box">
							先空着!
						</div>
					</div>			
				</div>
		</div>
	</div>

	{{template "comm/footer.html" .}}
</body>

</html>