<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/static/images/icon.png" >
	<title>Meetoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
	{{template "comm/header.html" .}}
	
	<div class="container-wrap">
		<div class="container container-message">
				<div class="contar-wrap">
					<h4 class="item-title" style="background:rgb(255,255,255,0.95)">
						<p><i class="layui-icon layui-icon-speaker" style="color: #FF0000;"></i>公告：<span>欢迎来到 Meetoo (>∩_∩<) </span></p>
					</h4>

					{{ range .notes }}
					<div class="item">
						<div class="item-box  layer-photos-demo1 layer-photos-demo">
							<h3><a href="/note/{{ .Key }}"> {{ .Title }} </a></h3>
							<h5> <span> {{date .CreatedAt "Y-m-d H:i:s"}} </span>&nbsp&nbsp<span> {{.Author.Name}} </span></h5>
							
							<p> {{.Summary}} </p>
						</div>	
					</div>
					{{end}}
            		
				</div>

				
				<div class="paging">
				{{if gt .page 1}}
					<!-- <button class="layui-btn layui-btn-normal" onclick="window.location.href='/?page={{add .page -1}}&search={{.search}}'">
					上一页
					</button> -->
				
					<a href="/?page={{add .page -1}}&search={{.search}}" title="上一页" style="padding-right:20px;color:#ffffff" class="layui-icon layui-icon-prev"></a>
				{{end}}

				<span style="color:#ffffff" >{{.page}} / {{.page_count}}</span>

				{{if lt .page .page_count}}
				
					<!-- <button class="layui-btn layui-btn-normal" onclick="window.location.href='/?page={{add .page 1}}&search={{.search}}'">
					下一页
					</button> -->

					<a href="/?page={{add .page 1}}&search={{.search}}" title="下一页" style="padding-left:20px;color:#ffffff" class="layui-icon layui-icon-next"></a>
				{{end}}
				</div>
				


		</div>
	</div>

	{{template "comm/footer.html".}}
</body>
</html>
