<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/icon.png" >
    <title>Meetoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
	{{template "comm/header.html" .}}

	<div class="container-wrap">
		<div class="container container-message container-details">
			<div class="contar-wrap">
				<div class="item">
					<div class="item-box  layer-photos-demo1 layer-photos-demo">
						{{template "comm/note_content.html" .note}}
						<div class="count layui-clear">
							<span class="pull-left">阅读 <em class="value"> {{add .note.Visits 1}} </em></span>
							<span class="pull-right like" data-key="{{.note.Key}}" data-type="note"><i class="layui-icon layui-icon-praise"></i>
							<em class="value">{{.note.Likes}}</em>
							</span>
						</div>
					</div>
				</div>	
				

				<div class="comt layui-clear">

					<input type="hidden" id="noteKey" value="{{.note.Key}}">
					{{if .isLogin}}

					<br>
					<form class="layui-form" action="">
			                <div class="layui-form-item layui-form-text">
			                    <textarea class="xiaohe layui-textarea" id="LAY-msg-content" placeholder="写点什么啊" style="resize:none;"></textarea>
			                </div>
		            </form>
		            <div class="item-btn pull-right">
		                <button class="layui-btn layui-btn-normal" id="item-btn-cmt">提交</button>
		            </div>
		            {{end}}

		             <div id="LAY-msg-box" class="comt layui-clear">

			        </div>
			        <div id="test3" class="paging comt layui-clear"></div>
		           
	            </div>
	           
		        

			</div>
		</div>
	</div>

	{{template "comm/footer.html" .}}


	<!-- {{str2html `<script id="LAY-msg-tpl" type="text/html">
				   
				   
				        <div class="info-item">
				            <img class="info-img" style="max-height: 35px" src="{{ d.avatar }}" alt="">
				            <div class="info-text">
				                <p class="title count">
				                    <span class="name">{{ d.name }}</span>

				                    <span class="info-img like" data-key="{{ d.key }}" data-type="message"><i class="layui-icon layui-icon-praise"></i>
				                    	<span class="value">{{ d.likes }}</span>
									</span>
				                </p>

				                <p class="info-intr">
				                {{ d.content }}
				                </p>

				                <p>	
									<a href="" class="name pull-right" style="padding-right:30px">删除</a>
				                </p>

				            </div>
				        </div>
				   
				    
				</script>`}} -->


	{{str2html `<script id="LAY-msg-tpl-a" type="text/html">
				    
				        <div class="info-item-cmt">
				            <img class="info-img-cmt" style="max-height: 35px;" src="{{ d.avatar }}" alt="">
				            <div class="info-text-cmt">
				                <p class="title count">
				                    <span class="name">{{ d.name }}</span>
				                    <span class="info-img like" data-key="{{ d.key }}" data-type="message"><i class="layui-icon layui-icon-praise"></i>
				                    <span class="value">{{ d.likes }}</span>
									 	</span>
				                </p>

				                <p class="info-intr">
				                {{ d.content }}
				                </p>

				                <br>
								<p class="delete-cmt">
									<span style="color:#a5a5a5" >{{ d.date }}</span>
				</script>`}}

	{{str2html `<script id="LAY-msg-tpl-b" type="text/html">
				                
									<span class="info-img like pull-right" data-key="{{ d.key }}" data-type="delete-cmt" style="float: right; padding-right: 16px; color:#a5a5a5">删除</span>
									<hr style="width:70px; margin-left:600px">
								</p>
				</script>`}}


	{{str2html `<script id="LAY-msg-tpl-c" type="text/html">

				            </div>
				        </div>
				    
				</script>`}}


	{{if fix_bar .user.ID .note.AuthorID .user.Role .isLogin}}
	<script> // 固定按钮的js
		//var user_id = {{.user.ID}}
		//var author_id = {{.note.AuthorID}}
		var key = {{.note.Key}}
		//var isLogin = {{.isLogin}}

		layui.use(['util','jquery'], function(){
  			var util = layui.util, $ = layui.jquery
  
  			//执行
			util.fixbar({
			bar1: '&#xe642',
			bar2: '&#xe640',
			click: function(type){
      			console.log(type);
      			if(type === 'bar1'){
        		//alert('点击了bar1')
        		window.location.href="/note_config/edit/"+key
      			}

      			if(type === 'bar2'){
        		//alert('点击了bar1')
	        		$.post("/note_config/delete/"+key, function(data){
	        			if (data.code == 6666) {                      //json的code
        					layer.msg("文章已删除", { icon: 1})
			                if (data.action) {                  //json的action
			                    setTimeout(function () {
			                        window.location.href=data.action;
			                    }, 500); //停留300毫秒
        					}
			            } else{
			                layer.msg("文章删除失败: "+data.msg, { icon: 5});  //json的msg
			            }
	        		},"json").error(function(){
    					layer.msg("网络异常", { icon: 2})
					});
      			}
				}
			});
  			
		});
	</script>

	{{else}}
	<script>
		layui.use('util', function(){
  			var util = layui.util;
			//执行
			util.fixbar({ 
			});
		});
	</script>
	{{end}}

</body>
</html>